.container .item {
    border: 2px solid black;    
}
html,
body {
    height:100%;
}
.container {
    width: 100%;
    height: 100%;      /* 높이를 브라우저 창 전체를 차지ㅏ는 방법 */
    display:grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 4fr 6fr;

}

.item{
    display:flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    background-color: lightpink;
}
.item2{
    background-color:lightskyblue;
}
.item3{
    background-color: hotpink;
}
.item4{
    background-color: darkred;
}